<div class="mt4">
    <div class="row">
        <div class="col-lg-3">
            <button>MUA NGAY</button>
        </div>
        <div class="col-lg-9">
            <h2>{{shoe.name}}</h2>
            <iframe width="853" height="480" src="https://www.youtube.com/embed/tNlCid6mQ3E" title="41. Nạp chồng toán tử" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>xây dựng web quá dễ với Phúc luôn</p>
        </div>

    </div>
</div>