
   <form method="POST" action="/uploads/cloudinary-upload">
        <label class="form-label" for="customFile">Default file input example</label>
        <input type="file" class="form-control" id="image" />
        <button type="submit" class="btn btn-primary">Thêm Giày</button>
    </form>