<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">THE FIRE MONKEY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/shoes/create">CREATE SHOES</a>
    <a class="navbar-brand" href="/me/stored/shoes">UPDATE AND DELETE SHOES</a>
<div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
        

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t39.30808-6/274692589_1738172099711611_1046215169056678171_n.png?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=UCBsOpxPN5oAX_DankD&_nc_ht=scontent.fsgn4-1.fna&oh=00_AfD78_TpJ_CUTVsny_kDcjKmBAta4B40FqzYWKw_3fDdSg&oe=63FF03B1" alt="" class="user-avatar">
                Phuc 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/shoes/create">Đăng Thêm Giày</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/me/stored/shoes">Giỏ Hàng</a>
                <a class="dropdown-item" href="/me/stored/shoes">Bài Viết Của tôi</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Đăng Xuất</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          
        </div>
     </div>
    
  </div>
</nav>